* {
  font-family: "Albert Sans", sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
}

code{
  font-family: 'Courier New', Courier, monospace;
  background-color: #202020;
  border-radius: 3px;
  color: #fff;
  display: block;
  font-family: courier, monospace;
  padding: 10px 15px;
  font-size: 16px;
  
}

a {
  text-decoration: none;
  color: #232323;
}
