* {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
}

code {
  border-radius: 8px;
}

.hljs {
  padding: 1.33em;
}

::-webkit-scrollbar {
  height: 8px;
  width: 4px;
  border: 1px solid #d5d5d5;
}

::-webkit-scrollbar:vertical {
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 0;
  background: #eeeeee;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #b0b0b0;
}

a {
  text-decoration: none;
  color: #232323;
}
