* {
  font-family: "Albert Sans", sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
}

code{
  font-family: 'Courier New', Courier, monospace;
  display: block;
  background: #282c34;
  color: #fff;
  width: 100%;
  white-space: pre;
  font-size: 15px;
  line-height: 1.55;
  padding: 1.33em;
  border-radius: 12px;
  overflow-x: auto;
}

a {
  text-decoration: none;
  color: #232323;
}
